// Define variables for your color scheme

// For example:
$red: #C51350;
$blue: #00204A;
$yellow: #FDA403;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$dark-blue:#00204A;
$light-blue:#D9FAFF;
$middle-blue: #005792;

